html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  width: 100%;
}

.buttons {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

button {
  background-color: transparent;
  border-radius: 50px;
  color: #3ed655;
  cursor: pointer;
  font-size: 20px;
  font-weight: 600;
  margin: 10px;
  padding: 15px;
  outline: none;
  border: 1px solid #3ed655;
  width: 25%;
  transition: background-color 0.5s ease;
}

button:hover {
  background-color: #3ed655;
  color: #fff;
}

.main-btn {
  background-color: #3ed655 !important;
  color: #fff !important;
}

input {
  border-radius: 4px;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
  font-size: 20px;
  font-weight: 500;
  margin: 5px 20px;
  padding: 15px 30px;
  border: none;
  width: 50%;
}

header {
  display: flex;
  padding: 20px;
  width: 100%;
}

section,
header {
  position: relative;
  z-index: 2;
}

#custom-bg {
  background: linear-gradient(#0c0075, 95%, #4535da);
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

.title {
  color: #f1f1f1;
  display: flex;
  flex-direction: column;
}

.title:after {
  content: '';
  margin-top: 10px;
  width: 100%;
  height: 2px;
  background-color: #3ed655;
}

.subtitle {
  line-height: 24px;
  font-size: 18px;
}

.form {
  margin: 5px 20px;
}

.form__container {
  margin: 10px;
}

.form__content {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form__status {
  color: #fff;
  font-size: 20px;
  height: 20px;
  margin: 10px 0px;
}

.cepInfo {
  display: none;
  border-radius: 5px;
  border: 1px solid #dddddd;
  background-color: #fff;
  width: 80%;
  align-items: center;
  margin: 0 auto;
}

.rTable {
  width: 100%;
  padding: 5px;
}

.header-table {
  color: #0c0075;
  background-color: #fff;
  line-height: 40px;
}

.data-table {
  line-height: 30px;
  margin: 10px;
}

@media (max-width: 800px) {
  .title {
    font-size: 24px;
    height: auto;
  }

  .rTable thead {
    display: none;
  }

  p {
    font-size: 16px;
    width: 100%;
  }

  button {
    width: auto;
  }

  input {
    width: 70%;
  }
}

@media (max-width: 540px) {
  .data-table {
    line-height: 18px;
  }
  h3 {
    font-size: 18px;
  }

  button {
    font-size: 16px;
  }

  .cepInfo {
    font-weight: 600;
    text-align: center;
    width: 80%;
    margin: 15px auto;
  }

  .cepInfo tbody tr > td {
    width: 100%;
  }

  td {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 411px) {
  input {
    width: 90%;
  }

  .title {
    font-size: 18px;
  }
}

@media only screen and (min-width: 1200px) {
  .cepInfo tbody tr td:nth-child(1) {
    width: 30%;
  }
  .cepInfo tbody tr td:nth-child(2) {
    width: 30%;
  }
  .cepInfo tbody tr td:nth-child(3) {
    width: 10%;
  }
  .cepInfo tbody tr td:nth-child(4) {
    width: 15%;
  }
  .cepInfo tbody tr td:nth-child(5) {
    width: 15%;
  }
}
